/* Write your CSS code here */

.cart-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.cart-image {
  width: 150px;
}

@media screen and (min-width: 768px) {
  .cart-image {
    width: 200px;
  }
}
